@model Auditor.ViewModels.AuditExecution.QuestionViewModel

<label>
    <input type="radio"
           name="q_@Model.TemplateItemId"
           value="true" />
    True
</label>

<label>
    <input type="radio"
           name="q_@Model.TemplateItemId"
           value="false" />
    False
</label>