<div class="card mt-4">

    <div class="card-header">
        <i class="fas fa-list-check"></i>
        Checklist Items
    </div>


    <div class="card-body">

        <p class="text-muted">
            Add the items auditors must verify.
        </p>


        <div id="checklist-container">
        </div>


        <button type="button"
                id="add-checklist-item"
                class="btn btn-outline-primary">

            <i class="fas fa-plus"></i>
            Add Item

        </button>

    </div>

</div>